{% extends 'base.html' %} {% load static %}

<!-- Other Block Starts -->
{% block title %} Index {% endblock title %} {% block meta_desc %} {% endblock meta_desc %} {% block meta_keyword %} {% endblock meta_keyword %}
{% block image_name %} 
    {{ user_info.userimage.url }}
{% endblock image_name %}
<!-- Other Block Ends -->

<!-- Main Block Starts -->
{% block body %}

<main id="main">
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">
            We offer modern solutions for growing your business
          </h1>
          <h2 data-aos="fade-up" data-aos-delay="400">
            We are team of talented designers making websites with Bootstrap
          </h2>
          <div data-aos="fade-up" data-aos-delay="600">
            <div class="text-center text-lg-start">
              <a
                href="#about"
                class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center"
              >
                <span>Read More</span>
                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
          <img
            src="{% static 'assets/img/hero-img.png' %}"
            class="img-fluid"
            alt=""
          />
        </div>
      </div>
    </div>
  </section>
  <!-- End Hero -->

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">
      <div class="row gx-0">
        <div
          class="col-lg-6 d-flex flex-column justify-content-center"
          data-aos="fade-up"
          data-aos-delay="200"
        >
          <div class="content">
            <h3>Who We Are</h3>
            <h2>
              Expedita voluptas omnis cupiditate totam eveniet nobis sint iste.
              Dolores est repellat corrupti reprehenderit.
            </h2>
            <p>
              Quisquam vel ut sint cum eos hic dolores aperiam. Sed deserunt et.
              Inventore et et dolor consequatur itaque ut voluptate sed et.
              Magnam nam ipsum tenetur suscipit voluptatum nam et est corrupti.
            </p>
          </div>
        </div>

        <div
          class="col-lg-6 d-flex align-items-center"
          data-aos="zoom-out"
          data-aos-delay="200"
        >
          <img
            src="{% static 'assets/img/about.jpg' %} "
            class="img-fluid"
            alt=""
          />
        </div>
      </div>
    </div>
  </section>
  <!-- End About Section -->

  <!-- ======= Recent Blog Posts Section ======= -->
  <section id="recent-blog-posts" class="recent-blog-posts">
        <div class="container" data-aos="fade-up">
        <div class="container" data-aos="fade-up">

    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <p>Recent posts form our Blog</p>
      </header>

      <div class="row" style="justify-content: center">
        {% if blogs %} {% for blog in blogs %}

        <div class="col-lg-4">
          <div class="post-box">
            <div class="post-img">
              <img
                src="{{ blog.image.url }}"
                class="img-fluid"
                alt=""
                width="856"
                height="856"
                style="object-fit: cover"
              />
            </div>
            <span class="post-date"
              >{{ blog.date }}&nbsp;({{ blog.author.first_name }}&nbsp;{{
              blog.author.last_name }})</span
            >
            <h3 class="post-title">{{ blog.title }}</h3>
            <h6 class="post-date">
              {{ blog.content | truncatechars:100 | safe }}
            </h6>
            <a
              href="{% url 'blogcontent' blog.slug %}"
              class="readmore stretched-link mt-auto"
              ><span>Read More</span><i class="bi bi-arrow-right"></i
            ></a>
          </div>
        </div>

        {% endfor %} {% endif %}
      </div>
        </div>
        </div>

    </div>

  </section>
  <!-- End Recent Blog Posts Section -->

  <!-- ======= Values Section ======= -->
  <section id="values" class="values">
        <div class="container" data-aos="fade-up">
        <div class="container" data-aos="fade-up">

    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <p>Facalties</p>
      </header>

            <div class="row">
            <div class="row">

      <div class="row">

        <div class="col-lg-4">
          <div class="box" data-aos="fade-up" data-aos-delay="200">
            <img
              src="{% static 'assets/img/values-1.png' %}"
              class="img-fluid"
              alt=""
            />
            <h3>Ad cupiditate sed est odio</h3>
            <p>
              Eum ad dolor et. Autem aut fugiat debitis voluptatem consequuntur
              sit. Et veritatis id.
            </p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0">
          <div class="box" data-aos="fade-up" data-aos-delay="400">
            <img
              src="{% static 'assets/img/values-2.png' %}"
              class="img-fluid"
              alt=""
            />
            <h3>Voluptatem voluptatum alias</h3>
            <p>
              Repudiandae amet nihil natus in distinctio suscipit id. Doloremque
              ducimus ea sit non.
            </p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0">
          <div class="box" data-aos="fade-up" data-aos-delay="600">
            <img
              src="{% static 'assets/img/values-3.png' %}"
              class="img-fluid"
              alt=""
            />
            <h3>Fugit cupiditate alias nobis.</h3>
            <p>
              Quam rem vitae est autem molestias explicabo debitis sint. Vero
              aliquid quidem commodi.
            </p>
          </div>
        </div>
            </div>
            </div>

      </div>

        </div>
        </div>

    </div>

  </section>
  <!-- End Values Section -->

  <!-- ======= Counts Section ======= -->
  <section id="counts" class="counts">
    <div class="container" data-aos="fade-up">
            <div class="row gy-4">
            <div class="row gy-4">

      <div class="row gy-4">

        <div class="col-lg-3 col-md-6">
          <div class="count-box">
            <i class="bi bi-emoji-smile"></i>
            <div>
              <span
                data-purecounter-start="0"
                data-purecounter-end="232"
                data-purecounter-duration="1"
                class="purecounter"
              ></span>
              <p>Happy Clients</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="count-box">
            <i class="bi bi-journal-richtext" style="color: #ee6c20"></i>
            <div>
              <span
                data-purecounter-start="0"
                data-purecounter-end="521"
                data-purecounter-duration="1"
                class="purecounter"
              ></span>
              <p>Projects</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="count-box">
            <i class="bi bi-headset" style="color: #15be56"></i>
            <div>
              <span
                data-purecounter-start="0"
                data-purecounter-end="1463"
                data-purecounter-duration="1"
                class="purecounter"
              ></span>
              <p>Hours Of Support</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="count-box">
            <i class="bi bi-people" style="color: #bb0852"></i>
            <div>
              <span
                data-purecounter-start="0"
                data-purecounter-end="15"
                data-purecounter-duration="1"
                class="purecounter"
              ></span>
              <p>Hard Workers</p>
            </div>
          </div>
        </div>
            </div>
            </div>

      </div>

    </div>
  </section>
  <!-- End Counts Section -->

  <!-- ======= Team Section ======= -->
  <section id="team" class="team">
        <div class="container" data-aos="fade-up">
        <div class="container" data-aos="fade-up">

    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <p>Team</p>
      </header>

      <div class="d-flex justify-content-center align-items-center gy-4">
        {% for team in teams %}
        <div
          class="col-lg-3 col-md-6 d-flex align-items-stretch"
          data-aos="fade-up"
          data-aos-delay="100"
        >
          <div class="member">
            <div class="member-img" style="height: 15rem">
              <img src="{{ team.image.url }}" class="img-fluid" alt="" />
            </div>
            <div class="member-info">
              <h4>{{ team.name }}</h4>
              <span>{{ team.post }}</span>
              <p>
                {% for value in team.ratings %}
                <i class="bi bi-star-fill"></i> {% endfor %} <br />
                {{ team.bio | truncatechars:100 }}
              </p>
            </div>
          </div>
        </div>
        {% endfor %}
            </div>
            </div>

      </div>

        </div>
        </div>

    </div>

  </section>
  <!-- End Team Section -->

  <!-- ======= F.A.Q Section ======= -->
  <section id="faq" class="faq">
        <div class="container" data-aos="fade-up">
        <div class="container" data-aos="fade-up">

    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <p>Frequently Asked Questions</p>
      </header>

      <div class="row">
        <div class="col-lg-12">
          <!-- F.A.Q List -->
          {% for faq in faqs %}
          <div class="accordion accordion-flush" id="faqlist1">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#faq-content-{{ faq.id_no }}"
                >
                  {{ faq.question | capfirst }}
                </button>
              </h2>
              <div
                id="faq-content-{{ faq.id_no }}"
                class="accordion-collapse collapse"
                data-bs-parent="#faqlist1"
              >
                <div class="accordion-body">{{ faq.answer | capfirst }}</div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
            </div>
            </div>

      </div>

        </div>
        </div>

    </div>

  </section>
  <!-- End F.A.Q Section -->
</main>

{% endblock body %}
<!-- Main Block Ends -->
